@font-face {
  font-family: cuprum;
  src: url("../fonts/cuprum.woff2") format("woff2"),
  url("../fonts/cuprum.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: cuprum;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
  url("../fonts/cuprumitalic.woff") format("woff");

  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: cuprum;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
  url("../fonts/cuprumbold.woff") format("woff");

  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: cuprum;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
  url("../fonts/cuprumbolditalic.woff") format("woff");

  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: ptsans;
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ptsans;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");

  font-weight: 700;
  font-style: normal;
}

*:focus {
  outline: 1px dotted #000000;
}

body {
  background-color: #ffffff;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-nav,
.footer-offers,
.criterion-sorting-list,
.sells-list,
.fabricators-logo-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-nav li,
.footer-offers li,
.criterion-sorting-list li,
.sells-list li,
.fabricators-logo-list li {
  display: inline-block;
}

.top-head {
  display: flex;
}

.top-head, .main-head {
  width: 940px;
  margin: 0 auto;
}

.main-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blue-background-header {
  width: 100%;
  background-color: #32425c;
}

.grey-background-header {
  width: 100%;
  background-color: #f3f7f9;
  padding: 47px 0 60px 0;
}

.page-header {
  margin-bottom: 70px;
}

.page-header a,
.page-header-catalog a {
  text-decoration: none;
}

.page-header h1,
.page-header-catalog h1,
.description-shop {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
  color: #ee3643;
}

.page-header address,
.page-header-catalog address {
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  color: #32425c;
}

.page-header a[href*="tel"],
.page-header-catalog a[href*="tel"] {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

form {
  /*display: none;*/
}

.top-head a {
  color: #ffffff;
}

.top-head li:last-child {
  background-color: #63a63e;
}

.logo {
  width: 220px;
  text-align: center;
  background-color: #ee3643;
  position: relative;
}

.logo::after {
  position: absolute;
  content: '';
  left: 0;
  top: 41px;
  min-width: 220px;
  height: 5px;
  background: #b52933;
}

.order-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.order-list a {
  line-height: 18px;
}

.logo:hover {
  background-color: #ca2c37;
}

.top-head .logo {
  height: 42px;
}

.navigation {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 38px;
  padding: 0 23px 0 23px;
}

.navigation a:hover {
  background-color:#293449;
}

.navigation a {
  color: #ffffff;
  line-height: 17px;
}

.navigation a:active {
  color: rgba(255, 255, 255, 0.502);
}

.navigation a {
  display: inline-block;
  height: 55px;
  vertical-align: middle;
  flex-grow: 1;
  text-align: center;
  padding-top: 18px;
  box-sizing: border-box;
}

.log-in-out {
  min-width: 300px;
  height: 45px;
  display: flex;
  text-align: center;
  justify-content: flex-end;
}

.log-in-out a{
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.log-in-out a:hover {
  color: #ee3643;
}

.log-in-out a:active {
  color: rgba(0, 0, 0, 0.302);
}

.sells-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.promo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.promo a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.contacts h2,
.about-us h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
}

.contacts,
.about-us {
  font-size: 13px;
  line-height: 24px;
}

.about-us li {
  font-size: 18px;
  line-height: 20px;
}

.about-us a,
.contacts button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.about-us a:hover,
.contacts button:hover {
  background-color: #ca2c37;
}

.fabricators a {
  text-decoration: none;
}

.servises {
  background-color: #f4f8f9;
  margin-top: 86px;
}

.servises h2 {
  padding-top: 68px;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
}

.services-points {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  width: 217px;
  list-style-type: none;
}

.services-points a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 20px;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
}

.services-points {
  background-color: #32425c;
}

.services-points li:not(.serviceActive):hover {
  background-color: #293449;
  border: none;
}

.service-active {
  background-color: #ffffff;
}

.service-active a {
  color: #32425c;
}

.page-footer {
  background-color: #32425c;
}

.page-footer a {
  text-decoration: none;
}

.page-footer a:hover {
  text-decoration: underline;
}

.page-footer a:active {
  opacity: 0.5;
  text-decoration: none;
}

.page-footer address,
.footer-nav a,
.page-footer a[href*="tel"] {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.page-footer p {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.footer-offers a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.links-feedback {
  color: #ffd180;
  font-size: 16px;
  line-height: 18px;
}

.bot-footer {
  background-color: #293449;
}

.bot-footer a:active {
  color: #ee3643;
  opacity: 1;
}

.login-helper-list,
.user-navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.login-helper-list li,
.user-navigation-list li {
  display: inline;
}

.login-helper-item a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.login-helper-item a:hover {
  color: #ee3643;
}

.login-helper-item a:active {
  color: #797672;
}

.user-navigation-item a {
  color: #000000;
}

.user-navigation-item a:active {
  color: #797672;
}

.breadcrumbs {
  width: 373px;
  display: flex;
  justify-content: space-around;
  padding: 21px 0;
}

.breadcrumbs a:hover {
  color: #ee3643;
  text-decoration: underline;
}

.breadcrumbs a, .breadcrumbs span {
  position: relative;
  color: #000000;
  font: 13px/18px "ptsans", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-main-heading h1 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.heading-sorting p {
  font-family: "ptsans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.catalog-perforators-item {
  overflow: hidden;
  border-style: solid;
  border-color: #e5e5e5;
  border-width: 1px;
}

.catalog-perforators-item:hover {
  box-shadow: 0 0 10px #aeb2ba;
}

.abour-perforators {
  background-color: #f2f6f8;
}

.abour-perforators h2 {
  font-size: 30px;
  line-height: 30px;
}

.abour-perforators p {
  font-size: 13px;
}

.servises-item p {
  font-family: "ptsans", "Arial", sans-serif;
}

.sells-item {
  font-family: "ptsans", "Arial", sans-serif;
  font-weight: 700;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 218px;
  margin-top: 20px;
  border: 1px solid #e5e5e5;
  text-align: center;
  overflow: hidden;
  min-height: 313px;
}

.sells-item:hover {
  box-shadow: 0 0 10px #aeb2ba;
}

.sells-item:hover {
  box-shadow: 0 0 10px #aeb2ba;
}

.sells-item:focus .sell-hover {
  display: block;
}

.sells-item p {
  margin: auto 25px;
}

.sells-item del {
  display: flex;
  justify-content: center;
  margin: 11px 0;
  color: #999;
}

.price {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px;
  height: 38px;
  margin: 0 auto 20px;
  border-radius: 3%;
  text-transform: uppercase;
  color: #fff;
  background-color: #ee3643;
}

.price::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -26px;
  border: 19px solid white;
  border-left-color: white;
  border-left-color: #ee3643;
}

.sells-item:last-child .price {
  margin-top: 30px;
}

.carousel {
  color: #ffffff;
  position: relative;
}

.slider-back,
.slider-forward {
  position: absolute;
  height: 266px;
  width: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  /*top: 0;*/
  z-index: 0;
  cursor: pointer;
}

.slider-forward {
  right: 0;
}

.slider-forward:hover {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100% );
}
.slider-forward:hover path {
  stroke-opacity: 0.8;
}

.slider-forward:active {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100% );
}

.slider-back {
  left: 0;
}

.slider-back:hover {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.1) 100% );
}

.slider-back:hover {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 100% );
}

.slide-one {
  width: 620px;
  height: 266px;
  position: relative;
  background-image: url("../img/drill2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-control {
  position: absolute;
  bottom: 35px;
  left: 48%;
  display: flex;
  justify-content: space-between;
  width: 30px;
  height: 10px;
}

.btn-slide-control.active {
  background-color: #ee3643;
}

.btn-slide-control {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.carousel span {
  line-height: 24px;
  font-size: 18px;
  margin-left: 20px;
  z-index: 10;
}

.carousel p {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  padding-top: 26px;
  padding-left: 20px;
  margin: 0;
  z-index: 10;
}

.carousel a {
  display: block;
  margin: 122px 0 0 25px;
  width: 195px;
  padding: 10px 0 10px 0;
  background-color: #ee3643;
  border-radius: 4px;
  text-align: center;
  z-index: 10;
}

.carousel a:hover {
  background-color: #ca2c37;
}

.carousel a:active {
  background-color: #ba2732;
}

.footer-wrapper {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.hot-sells h2,
.fabricators h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.all-populat-sells-link,
.all-fabricators-link {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.all-populat-sells-link:hover,
.all-fabricators-link:hover {
  background-color: #ca2c37;
}

.all-populat-sells-link:active,
.all-fabricators-link:active {
  background-color: #ba2732;
}

.filters h3 {
  font-family: "ptsans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.criterion-sorting-item button {
  font-family: "ptsans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.search-input {
  width: 270px;
  border: none;
  padding: 12px 0 12px 50px;
  font-size: 17px;
  line-height: 18px;
  cursor: pointer;
  color: #ffffff;
  background-color: #32425c;
}

.search-list:hover svg {
  fill: rgba(255, 255, 255, 1);
}

.search-input:focus ~ svg {
  fill: #ee3643;
}

.search-input:hover {
  background-color: #212a3a;
  fill: red;
}

.search-input:focus {
  background-color: #ffffff;
  color: #000000;
}

.search-list,
.bookmark,
.basket {
  position: relative;
  fill: rgba(255, 255, 255, 0.3);
}

.search-list svg,
.basket svg,
.bookmark svg {
  position: absolute;
  left: 17px;
  top: 12px;
}

.bookmark {
  display: block;
  position: relative;
  width: 105px;
  padding: 12px 0 12px 45px;
  font-size: 17px;
  line-height: 18px;
}

.basket {
  display: block;
  position: relative;
  width: 100px;
  padding: 12px 0 12px 50px;
  font-size: 17px;
  line-height: 18px;
}

.order {
  display: block;
  width: 150px;
  text-align: center;
  padding: 12px 0;
  font-size: 17px;
  line-height: 18px;
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.3);
}

.bookmark:hover,
.basket:hover {
  background-color: #212a3a;
  fill: rgba(255, 255, 255, 1);
}

.bookmark:active,
.basket:active,
.search-list:active {
  background-color: #161d29;
  fill: rgb(255, 255, 255, 0.4);
}

.tagline {
  box-sizing: border-box;
  width: 300px;
  padding: 2px 50px 0 52px;
  margin: 0;
}

.contacts-head {
  width: 300px;
  position: relative;
}

.contacts-head address {
  padding: 4px 0 0 10px;
}

.phone {
  display: block;
  width: 145px;
  border-width: 3px;
  border-style: solid;
  border-color: #ffffff;
  padding: 10.5px 50px 10.5px 72px;
}

.phone svg {
  position: absolute;
  left: 18px;
}

.login {
  display: block;
  position: relative;
  padding-top: 12px;
  padding-left: 45px;
  padding-right: 26px;
  background-color: #ffffff;
}

.login svg {
  position: absolute;
  left: 13px;
  top: 15px;
}

.registration {
  width: 150px;
  padding-top: 12px;
  margin-left: 10px;
  background-color: #fff;
}

.card {
  width: 300px;
  /*height: 123px;*/
  margin-bottom: 20px;
}

.card h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  margin: 21px 0 12px 23px;
}

.card a {
  width: 135px;
  height: 38px;
  margin: 0 0 22px 22px;
  background-color: rgba(229,229,229,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 4px;
}

.card a:hover {
  background-color: rgba(229,229,229,0.2);
}

.card a:active {
  background-color: rgba(229,229,229,0.3);
}

.materials {
  position: relative;
  margin-right: 20px;
  background-color: #f6b22d;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 210px, 20px;
  overflow: hidden;
}

.instruments {
  position: relative;
  margin-right: 20px;
  background-color: #4aafde;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 205px, 20px;
}

.equipment {
  background-color: #cc79d1;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 190px, 20px;
}

.addons-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

.sale {
  margin-left: 20px;
  background-color: #85d179;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 200px, 20px;
}

.delivery {
  margin-left: 20px;
  background-color: #f6b22d;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 190px, 20px;
}

.popular-blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 89px;
  background-color: #f9f5f0;
}

.popular-blog h2 {
  margin: 28px;
  font-size: 30px;
  line-height: 30px;
  padding: 6px 0;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.popular-blog a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 253px;
  height: 38px;
  margin-right: 25px;
  background-color: #ee3643;
  border-radius: 4px;
}

.popular-blog a:focus,
.about-us a:focus {
  outline: 1px dotted #000000;
}

.sell-hover {
  position: absolute;
  /*display: none;*/
  top: 0;
  width: 135px;
  height: 84px;
  padding: 41px;
  background: #ffffff;
  font: 13px/24px "cuprum", "Arial", sans-serif;
}

.sells-item:hover .sell-hover {
  display: block;
}

.fabricators-logo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fabricators-logo-item a {
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 143px;
  margin-top: 20px;
}

.fabricators-logo-item a:hover {
  box-shadow: 0 5px 25px #abafb8;
}

.fabricators-logo-item a:active {
  opacity: 0.3;
  box-shadow: 0 5px 15px #abafb8;
}

.about-servises {
  width: 400px;
  font-family: "ptsans","Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.about-company {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 540px;
  margin-bottom: 86px;
}

.about-us h2 {
  font-size: 30px;
  line-height: 24px;
  margin: 28px 0;
  color: #000;
  font-weight: normal;
}

.about-us p {
  font-family: "ptsans","Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.transport {
  width: 400px;
}

.delivery-companies {
  padding-left: 36px;
  list-style-type: none;
}

.delivery-companies li {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  padding: 8px 0px 12px 0px;
}

.delivery-companies li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: -36px;
  top: 17px;
  background-color: #fb565a;
}

.about-us a {
  margin-top: 24px;
  width: 220px;
  height: 38px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 4px;
  background-color: #ee3643;
  text-decoration: none;
}

.contacts {
  width: 300px;
}

.contacts p {
  font-family: "ptsans","Arial", sans-serif;
  width: 190px;
  margin-bottom: 32px;
}

.contacts button {
  width: 300px;
  margin-top: 32px;
  height: 38px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 4px;
  background-color: #ee3643;
  border: none;
  cursor: pointer;
}

.left-contacts {
  display: flex;
  flex-direction: column;
}

.logo-footer a {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #ee3643;
  width: 220px;
  box-sizing: border-box;
}

.logo-footer a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  left: 0;
  bottom: -5px;
  background-color: #b52933;
}

.left-contacts address {
  color: #f1f5f7;
  font-size: 18px;
  margin-top: 33px;
  font-style: normal;
}

.tel {
  margin-bottom: 50px;
}

.right-footer-links {
  width: 550px;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.footer-offers {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-left: 27px;
}

.bot-footer .container {
  display: flex;
  align-items: center;
  height: 107px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.copyright {
  min-width: 230px;
}

.link-soc {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 130px;
  margin: 0 120px 0 161px;
}

.link-soc a {
  display: flex;
  background-color: #212a3a;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 0;
  align-items: center;
  justify-content: center;
}

.link-soc a:hover {
  background-color: #ee3643;
}

.communication {
  width: 140px;
  margin-right: 48px;
}

.developed {
  min-width: 140px;
  margin-right: 48px;
}

.developed p,
.communication p {
  margin: 0;
}

.service-information {
  position: relative;
  margin: 70px 0 54px 0;
  padding-bottom: 102px;
}

.service-navigation input {
  display: none;
}

.service-navigation label {
  display: flex;
  width: 217px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  padding: 11px 0 17px 23px;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
  background-color: #32425c;
  color: #fff;
  cursor: pointer;
}

.services-content {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 620px;
  padding-bottom: 139px;
  background-position: right top;
  background-repeat: no-repeat;
}

.btn-service {
  display: flex;
  width: 217px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  padding: 11px 0 17px 23px;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
  background-color: #32425c;
  color: #ffffff;
  cursor: pointer;
}

.btn-service:hover {
  background-color: #293449;
}

.btn-service.active {
  color: #32425c;
  background: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.btn-service:nth-child(1).active ~ .slider .services-content:nth-child(1),
.btn-service:nth-child(2).active ~ .slider .services-content:nth-child(2),
.btn-service:nth-child(3).active ~ .slider .services-content:nth-child(3) {
  display: block;
}

.slider h2 {
  margin: 0 0 34px 0;
  padding: 0;
}

.services-content p {
  font-family: "ptsans","Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 275px
}

.services-content h2 {
  font-size: 36px;
  line-height: 24px;
}

.write-us {
  display: none;
  position: fixed;
  width: 620px;
  left: 50%;
  top: 15%;
  margin-left: -310px;
  border-top: 7px solid #ee3643;
  font-size: 18px;
  line-height: 18px;
  background-color: #fff;
  box-shadow: 0 20px 40px 10px;
  z-index: 999;
}

.add-to-basket {
  display: none;
  position: fixed;
  width: 620px;
  left: 50%;
  top: 15%;
  margin-left: -310px;
  border-top: 7px solid #ee3643;
  font-size: 18px;
  line-height: 18px;
  background-color: #ffffff;
  box-shadow: 0 40px 20px 0px rgba(0,0,0, 0.5);
  z-index: 999;
}

.caption-modal {
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 100px;
  position: relative;
  font-size: 24px;
  line-height: 24px;
}

.caption-modal::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  left: -100px;
  top: -22px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.close-popup {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup-main {
  width: 460px;
  padding: 48px 80px 0px;
}

.top-popup {
  display: flex;
  justify-content: space-between;
}

.top-popup-fragment {
  width: 220px;
  margin-bottom: 22px;
}

.top-popup-fragment input:focus,
.letter:focus {
  border: 2px solid #0099FF;
}

.top-popup-fragment input {
  width: 188px;
  padding: 0 14px;
  height: 34px;
  border: 2px solid #d7dcde;
  font-size: 13px;
  line-height: 18px;
  font-family: "ptsans","Arial", sans-serif;
  margin-top: 8px;
  border-radius: 4px;
}

.letter {
  width: 428px;
  height: 102px;
  padding: 8px 14px 0px;
  margin-top: 8px;
  margin-bottom: 33px;
  border: 2px solid #d7dcde;
  font-size: 13px;
  line-height: 18px;
  font-family: "ptsans","Arial", sans-serif;
  border-radius: 4px;
  resize: vertical;
}

.send-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 0 80px;
}

.send-mail button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 37px 0 37px 0;
  padding: 12px;
  width: 460px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  border-radius: 3%;
  text-transform: uppercase;
  background-color: #ee3643;
  cursor: pointer;
}

.send-mail button:hover {
  background-color: #ca2c37;;
}

.show-modal {
  display: block;
}

.big-map {
  display: none;
}

.no-empty {
  background-color: #ee3643;
}

.account {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.login-account {
  position: relative;
  display: flex;
  align-items: center;
  width: 208px;
  height: 44px;
  padding-left: 47px;
  background: #ffffff;
  font-size: 21px;
  margin-bottom: 5px;
  line-height: 18px;
  color: #000000;
}

.login-account svg {
  position: absolute;
  left: 12px;
}

.login-account:hover path {
  fill: #32425c;
}

.login-account:active {
  opacity: 0.3;
}

.exit-account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
}

.exit-account:hover svg {
  fill: #32425c;
}

.exit-account:active {
  opacity: 0.3;
}

a.my-orders,
a.private-office {
  font: 13px/24px "cuprum","Arial",sans-serif;
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  text-transform: inherit;
}

a.my-orders:hover,
a.private-office:hover {
  color: #ee3643;
}

a.my-orders:active,
a.private-office:active {
  color: #ee3643;
  opacity: 0.3;
}

.my-orders {
  padding: 0px 32px 0 19px;
}

.my-orders::after {
  position: absolute;
  content: "";
  top: 35%;
  left: 86%;
  width: 4px;
  height: 4px;
  background: #32425c;
  border-radius: 50%;
}

.link-home,
.link-catalog,
.link-instrument {
  position: relative;
}

.link-home::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  width: 15px;
  height: 18px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.link-home::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 0px;
  width: 15px;
  height: 18px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.link-catalog::after {
  content: "";
  position: absolute;
  left: 65px;
  top: 2px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.link-instrument::after {
  content: "";
  position: absolute;
  left: 95px;
  top: 2px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumb-list a:hover {
  text-decoration: underline;
  color: #ee3643;
}

.caption {
  font-size: 30px;
  line-height: 30px;
  padding: 30px 28px 30px;
  margin: 0;
  font-weight: normal;
  background-color: #f2f6f8;
  color: #3e3f40;
}

.filters {
  width: 220px;
}

.caption-filters {
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 16px 0 19px;
  margin: 19px 0;
  background-color: #f7f3ec;
  font-family: "ptsans", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.catalog {
  display: flex;
  justify-content: space-between;
}

.cost {
  display: block;
  margin-bottom: 23px;
}

.caption-cost {
  margin-bottom: 14px;
  margin-top: 10px;
  font: 17px/30px "ptsans","Arial",sans-serif;
  color: #000000;
}

.range-cost {
  position: relative;
  height: 80px;
  margin: 10px 0;
  padding: 0px 40px;
  overflow: hidden;
  background: #f7f3ec;
}

.slider-range {
  display: block;
  margin-top: 39px;
  height: 2px;
  background: #00ca74;
  width: 100%;
}

.left-circle,
.right-circle {
  position: absolute;
  display: block;
  left: 20px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  background-color: #ababab;
  top: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.right-circle {
  left: 160px;
}

.input-cost {
  border: none;
  max-width: 85px;
  padding: 0px 2px 0px 8px;
  height: 38px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  border-radius: 5px;
  background-color: #f7f3ec;
  font-family: "ptsans", "Arial", sans-serif;
  font-weight: normal;
}

.cost .separator {
  padding: 0 6px;
  font-size: 16px;
  line-height: 18px;
}

.fabricators-catalog {
  border-left: none;
  border-right: none;
  padding: 58px 0 2px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.fabricators-catalog legend {
  position: absolute;
  top: 14px;
  margin-bottom: 14px;
  font: 17px/30px "ptsans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.fabricators-list label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  position: relative;
  margin: 0 0 20px 35px;
  font: 15px/20px "ptsans", "Arial", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  color: #000000;
}

.fabricators-list input:focus + label::before {
  outline: 1px dotted #000000;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.fabricators-list label::before,
.checkbox:checked + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: -30px;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.fabricators-list label::before {
/* очень хотелось сделать рамки на CSS а саму галочку уже кратинкой */
/* но из-за разного размера картинки checked и не checked пришлось отказаться */
  background-image: url("../img/checkbox-off.svg");
}

.checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  width: 27px;
}

.checkbox:disabled + label::before,
.checkbox:disabled + label {
  opacity: 0.5;
}

.checkbox:disabled:hover + label::before,
.checkbox:disabled:hover + label {
  opacity: 0.5;
  cursor: default;
}

.checkbox:hover + label,
.checkbox:hover + label::before {
  opacity: 1;
}

.type-charge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 59px;
}

.type-charge legend {
  margin: 14px 0 14px 0;
  font: 17px/30px "ptsans", "Arial", sans-serif;
  color: #000000;
}

.type-charge input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.type-charge input:focus + label {
  outline: 1px dotted #000000;
}

.type-charge label {
  position: relative;
  padding: 0 0 20px 35px;
  font: 15px/20px "ptsans", "Arial", sans-serif;
  cursor: pointer;
  color: #000000;
  opacity: 0.8;
}

.type-charge label:hover {
  opacity: 1;
}

.type-charge label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.type-charge input[type="radio"]:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
}

.filter-button {
  width: 138px;
  height: 38px;
  background: #fff;
  font-family: "ptans", "Arial", sans-serif;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #ca2c37;
}

.products {
  width: 700px;
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  padding: 0 16px 0 19px;
  margin: 19px 0;
  background-color: #f7f3ec;
  font-family: "ptsans", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
}

.criterion-sorting-list {
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin-left: 90px;
}

.criterion-sorting-list a {
  font-size: 13px;
  line-height: 14px;
  text-decoration: none;
  font-family: "ptsans", "Arial", sans-serif;
  font-weight: normal;
  color: #acaaa5;
  border-bottom: 1px dotted #ee3643;
}

.criterion-sorting-list a:hover {
  color: #444444;
  border-bottom: 1px solid #ee3643;
}

.criterion-sorting-list .active {
  color: #ee3643;
  border: none;
}

.triangles {
  width: 43px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.tri-up,
.tri-down {
  width: 0;
  margin-top: 3px;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.tri-up {
  border-bottom: 10px solid #ee3643;
}

.tri-up:hover {
  border-bottom: 10px solid #000000;
}

.tri-down {
  border-top: 10px solid #c6c2bd;
}

.tri-down:hover {
  border-top: 10px solid #000000;
}

.catalog-perforators-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-perforators-item {
  margin-bottom: 20px;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-width: 218px;
  border: 1px solid #e5e5e5;
  text-align: center;
}

.catalog-perforators-item:hover .buy-menu {
  display: block;
}

.catalog-perforators-item img {
  border-style: none;
}

.catalog-perforators-item p {
  font: 18px/20px "ptsans", "Arial", sans-serif;
  font-weight: 700;
  margin: auto 25px;
  color: #000000;
  width: 168px;
}

.catalog-perforators-item del {
  color: #999999;
  display: flex;
  justify-content: center;
  font: bold 17px/18px "ptsans", "Arial", sans-serif;
  margin: 11px 0;
}

.price {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 133px;
  /*height: 38px;*/
  font: bold 17px/18px "ptsans","Arial",sans-serif;
  margin: 0 auto 20px;
  border-radius: 3%;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

.price::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -26px;
  border: 19px solid #ffffff;
  border-left-color: #ffffff;
  border-left-color: #ee3643;
}

.no-discount {
  margin-top: 29px;
}

.buy-menu {
  position: absolute;
  /*display: none;*/
  top: 0;
  width: 135px;
  height: 84px;
  padding: 41px;
  background: #ffffff;
}

.btn-buy {
  margin-bottom: 8px;
  height: 38px;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-buy:hover {
  background-color: #5fbb2d;
}

.btn-buy:active {
  background-color: #518534;
  box-shadow: inset 0 -3px 0 #518534;
}

.btn-bookmark {
  height: 32px;
  border: 3px solid #63a63e;
  background-color: #ffffff;
  color: #32425c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 4px;
  color: #32425c;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-bookmark:hover {
  border: 3px solid #32425c;
  color: #32425c;
}

.btn-bookmark:active {
  border: 3px solid #c1c6ce;
  color: #c1c6ce;
}

.pagination-list {
  margin: 0;
  padding: 0;
  width: 285px;
  display: flex;
  justify-content: space-between;
  margin: 33px 0 30px 0;
  list-style-type: none;
}

.pagination-item a {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 5%;
  font: 13px/18px "ptsans", "Arial", sans-serif;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #e5e5e5;
  text-decoration: none;
}

.pagination-item:last-child a {
  width: 140px;
}

.pagination-item.active a {
  background-color: #ee3643;
  color: #ffffff;
  border: 1px solid #ee3643;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:focus {
  border: 1px solid #ee3643;
  outline: 1px dotted #000000;
}

.abour-perforators {
  background-color: #f2f6f8;
  padding-bottom: 56px;
}

.abour-perforators h2 {
  padding-top: 69px;
  font-size: 30px;
  line-height: 24px;
  margin: 28px 0;
  color: #000000;
  font-weight: normal;
}
.abour-perforators p {
  font: 13px/24px "ptsans", "Arial", sans-serif;
  color: #000000;
}

.delivery-frame {
  background-image: url("../img/serviceDelivery.png");
}

.garantee-frame {
  background-image: url("../img/serviceGarantee.png");
}

.credit-frame {
  background-image: url("../img/serviceCredit.png");
}

.services-content.show-modal {
  display: block;
}

.new::after {
  content: "new";
  position: absolute;
  display: flex;
  justify-content: center;
  background: #ee3643;
  line-height: 30px;
  padding-bottom: 4px;
  width: 100px;
  top: 5px;
  right: -30px;
  color: #ffffff;
  font-family: "ptsans";
  font-weight: normal;
  transform: rotate(45deg);
}

.checkout button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 460px;
  border: none;
  line-height: 14px;
  font-size: 14px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

.issue-order {
  margin: 37px 20px 37px 0;
  color: #ffffff;  
  background-color: #ee3643;
}

.continue-shopping {
  margin: 37px 0 37px 0;
  color: #000000;
  background-color: #ffffff;
}